<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div id="page-container">
      <h1><%=drawer.name%></h1>
      <h3><%=drawer.location%></h3>
      <a href="/drawers/<%=drawer._id%>/edit">Edit Drawer details</a>
      <form action="/drawers/<%=drawer._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE DRAWER">
      </form>
      <% if (items[0]) { %>
        <ul>
          <% for (const item of items) { %>
            <li>
              <span><%=item.name%>, <%=item.qty%> </span><a href="/items/<%=item._id%>/edit">Edit Item</a>
              <form action="/items/<%=item._id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE ITEM">
              </form>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <p>drawer empty</p>
      <% } %>
      <form action="/items" method="POST">
        <label for="name">Name: </label><input type="text" id="name" name="name" placeholder="Name" required></br>
        <label for="qty">Quantity: </label><input type="number" id="qty" name="qty" value="1" required></br>
        <input type="hidden" id="drawer" name="drawer" value="<%=drawer._id%>"></br>
        <input type="submit" value="Add Item">
      </form>
    </div>
  </body>
</html>
