<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1><%=drawer.name%></h1>
    <h3><%=drawer.location%></h3>
    <% if (drawer.items[0]) { %>
      <% for (const item in drawer.items) { %>
        <p><%=item.name%></p>
      <% } %>
    <% } else { %>
      <p>drawer empty</p>
    <% } %>
  </body>
</html>
