<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <h1>Editing <%=drawer.name%></h1>
    <form action="/drawers/<%=drawer._id%>?_method=PUT" method="POST">
      <label for="name">Name: </label><input type="text" id="name" name="name" value="<%=drawer.name%>" required></br>
      <label for="location">Location: </label><input type="text" id="location" name="location" value="<%=drawer.location%>" required></br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
