<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <% if (currentUser) { %>
    <form action="/drawers" method="GET">
      <label for="search"></label><input type="text" id="search" name="search" placeholder="search" required>
      <input type="submit" value="WHICH DRAWER DID I PUT THAT IN?">
    </form>
    <a href="/drawers/new">Create New Drawer</a>
    <% if (searchResult) { %>
      <p><strong><%=searchResult%></strong></p>
    <% } %>
    <ul>
      <% for (const drawer of drawers) { %>
        <li><a href="/drawers/<%=drawer._id%>"><%=drawer.name%></a></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
